<% if( !editing ) { %>
  <td><%= comment.get('id') %></td>
  <td><%= comment.get('content') %></td>
  <td><%= !_( comment.get('addDate') ).isUsable() ? '' : comment.get('addDate').format( Config.dateFormat ) %></td>
  <td><%= !_( comment.get('setDate') ).isUsable() ? '' : comment.get('setDate').format( Config.dateFormat ) %></td>
  <td class="action">
    <div class="btn-group btn-group-action">
      <button class="btn btn-mini <%= parseInt( comment.get('_isValid') ) ? "btn-success unvalidate" : "btn-danger validate" %>"><%= parseInt( comment.get('_isValid') ) ? "Affiché" : "Masqué" %></button>
      <button class="btn btn-mini <%= parseInt( comment.get('_isValid') ) ? "btn-success" : "btn-danger" %> dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pull-right">
        <li><a href="#" class="edit"><i class="icon-edit"></i> Editer</a></li>
        <li><a href="#" class="link"><i class="icon-random"></i> Liens</a></li>
        <li><a href="#" class="datas"><i class="icon-hdd"></i> Données associés</a></li>
        <li class="divider"></li>
        <li><a href="#" class="delete"><i class="icon-remove"></i> Supprimer</a></li>
      </ul>
    </div>
  </td>
<% } else { %>
  <td><%= comment.get('id') %></td>
  <td><textarea name="content"><%= comment.get('content') %></textarea></td>
  <td><%= !_( comment.get('addDate') ).isUsable() ? '' : comment.get('addDate').format( Config.dateFormat ) %></td>
  <td><%= !_( comment.get('setDate') ).isUsable() ? '' : comment.get('setDate').format( Config.dateFormat ) %></td>
  <td class="action">
    <div class="btn-group btn-group-action">
      <button class="btn btn-mini btn-success validate-edit">Valider</button>
      <button class="btn btn-mini btn-success dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pull-right">
        <li><a href="#" class="cancel-edit"><i class="icon-remove"></i> Annuler</a></li>
      </ul>
    </div>
  </td>
<% } %>