<a data-toggle="collapse" data-target="#connected">
  Connectés <span class="badge badge-info pull-right">6</span>
</a>

<div id="connected" class="connected collapse">
  <ul>
    <li>
      <a>Mathieu Desvé</a> <span class="label label-warning pull-right">admin</span>
    </li>
    <li>
      <a>Irina Tsolova</a>
    </li>
    <li>
      <a>Carol-Ann Braun</a> <span class="label label-warning pull-right">admin</span>
    </li>
    <li>
      <a>Neydiu Tsolova</a>
    </li>                   
    <li>                    
      <a>Pierrick Vanneau</a>
    </li>
  </ul>
</div>