<div class="hero-unit">
  <h1>Bonjour,</h1>
  <p>bienvenue de l'outil d'administration de la plateforme Chatanoo.</p>
  <p>
    <a class="btn btn-primary btn-large">
      En savoir plus
    </a>
  </p>
</div>

<div id="tuto-menu" class="arrow">
	<div>
		<h4>Le menu</h4>
		<p>Donne accès à l'ensemble de outils d'administration</p>
	</div>
</div>
<div id="tuto-notif" class="arrow">
	<div>
		<h4>Le centre de notifications</h4>
		<p>Regroupe l'ensemble des actions réalisées par les autres personnes connectées</p>
	</div>
</div>
<div id="tuto-connected" class="arrow">
	<div>
		<h4>Les personnes connectées</h4>
		<p>Donne la liste des personnes connectées et les fonctions</p>
	</div>
</div>
<div id="tuto-retract" class="arrow">
	<div>
		<h4>Petit écran ?</h4>
		<p>Ce bouton permet de rétracté l'interface de prévisualisation</p>
	</div>
</div>
<div id="tuto-deploy" class="arrow">
	<div>
		<h4>Grand écran ?</h4>
		<p>Ce bouton permet de ré-déployé l'interface de prévisualisation</p>
	</div>
</div>
<div id="tuto-chatanoo" class="arrow">
	<div>
		<h4>Prévisualisation</h4>
		<p>Cette fenêtre permet de voir directement le rendu sur le site mobile de Chatanoo</p>
	</div>
</div>
