<div class="page-header">
  <h2><%= title %></h2>
</div>

<div class="subnav">    
  <ul class="nav nav-pills pull-right">
    <li class="pull-left">
      <div id="searchbox"></div>
    </li>
    <li class="pull-left">
      <a href="" class='refresh'>Rafraichir <i class="icon-refresh" /></a>
    </li>
  </ul>
</div>

<table id="table" class="table table-bordered table-striped">
  <thead>
    <tr>
      <% _( structure ).each( function(field) { %>
        <th><a href="#"><%- field.label %></a></th>
      <% }) %>
      <th><a href="#">Actions</a></th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>

<div class="subnav">    
  <ul class="nav nav-pills pull-right">
    <li>
      <a href="#" class="add"><%= add %></a>
    </li>
  </ul>
</div>