<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Tags associées</h3>
</div>
<div class="modal-body">
  
  <div class="subnav topnav">    
    <ul class="nav nav-pills pull-left">
      <li class="pull-left">
        <div id="searchbox"></div>
      </li>
    </ul>

    <ul class="nav nav-pills pull-right">
      <li class="pull-left">
        <a href="" class='refresh'>Rafraichir <i class="icon-refresh" /></a>
      </li>
    </ul>
  </div>

  <div class="table-fixed-head" data-target="#table"></div>

  <table id="table" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th><a href="#">id</a></th>
        <th><a href="#">Name</a></th>
        <th><a href="#">Contenu</a></th>
        <th><a href="#">Actions</a></th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr class="add">
        <td></td>
        <td colspan="3">
          <button class="btn btn-primary add">Ajouter un tag</buttom>
        </td>
      </tr> -->
    </tbody>
  </table>
  
</div>
<div class="modal-footer">
  <a href="#" class="btn add">Ajouter un tag</a>
  <a href="#" class="btn btn-primary" data-dismiss="modal">Fermer</a>
</div>