<% if( !editing ) { %>
	<td><%= tag.get('id') %></td>
	<td><%= tag.get('name') %></td>
	<td><%= tag.get('content') %></td>
	<td class="action">
	   <div class="btn-group btn-group-action">
	   	<button class="btn btn-mini btn-success">Actions</button>
	   	<button class="btn btn-mini btn-success dropdown-toggle" data-toggle="dropdown">
	   		<span class="caret"></span>
	   	</button>
	   	<ul class="dropdown-menu pull-right">
	   		<li><a href="#" class="edit"><i class="icon-edit"></i> Editer</a></li>
	   		<li><a href="#" class="link"><i class="icon-random"></i> Liens</a></li>
			<li class="divider"></li>
			<li><a href="#" class="export"><i class="icon-download"></i> Exporter</a></li>
	   		<li class="divider"></li>
	   		<li><a href="#" class="delete"><i class="icon-remove"></i> Supprimer</a></li>
	   	</ul>
	   </div>
	</td>
<% } else { %>
	<td><%= tag.get('id') %></td>
	<td><textarea name="name"><%= tag.get('name') %></textarea></td>
	<td><textarea name="content"><%= tag.get('content') %></textarea></td>
	<td class="action">
		<div class="btn-group btn-group-action">
			<button class="btn btn-mini btn-success validate-edit">Valider</button>
			<button class="btn btn-mini btn-success dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu pull-right">
				<li><a href="#" class="cancel-edit"><i class="icon-remove"></i> Annuler</a></li>
			</ul>
		</div>
	</td>
<% } %>