<div class="btn-group">
	<button rel="tooltip" title="Replier" class="btn retract"><i class="icon-chevron-right"/></button>
	<button rel="tooltip" title="Replier" class="btn deploy"><i class="icon-chevron-left"/></button>
	<!-- <button rel="tooltip" title="Extraire" data-placement="left" class="btn extract"><i class="icon-chevron-up"/></button> -->
	<button rel="tooltip" title="Rafraichir" class="btn refresh"><i class="icon-refresh"/></button>
</div>
<iframe src="<%= config.chatanoo.iframe + hash %>" frameborder="0"></iframe>