<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">×</button>
	<h3>Liens</h3>
</div>
<div class="modal-body">
	<div id="graph" class="graph"></div>
	<div class="graph-control">
		<h3>Question 1</h3>
		<p>
			<small>Actions</small><br />
			<button class="btn btn-warning">Suppimmer ce lien</button>
			<button class="btn btn-danger disabled">Suppimmer cet objet</button>
		</p>
		<p>
			<small>Titre</small><br />
			Mon Titre
		</p>
		<p>
			<small>Description</small><br />
			Ma description
		</p>
	</div>
</div>
<div class="modal-footer">
	<a href="#" class="btn pull-left add">Ajouter un lien</a>
	<a href="#" class="btn btn-primary" data-dismiss="modal">Fermer</a>
</div>