<% if( !editing ) { %>
	<td><%= meta.get('id') %></td>
	<td><%= meta.get('name') %></td>
	<td><%= meta.get('content') %></td>
	<td class="action">
		<div class="btn-group btn-group-action">
			<button class="btn btn-mini btn-success">Actions</button>
			<button class="btn btn-mini btn-success dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu pull-right">
				<li><a href="#" class="edit"><i class="icon-edit"></i> Editer</a></li>
				<li class="divider"></li>
				<li><a href="#" class="delete"><i class="icon-remove"></i> Supprimer</a></li>
			</ul>
		</div>
	</td>
<% } else { %>
	<td><%= meta.get('id') %></td>
	<td><input type="text" name="name" value="<%= meta.get('name') %>"></td>
	<td><input type="text" name="content" value="<%= meta.get('content') %>"></textarea></td>
	<td class="action">
		<div class="btn-group btn-group-action">
			<button class="btn btn-mini btn-success validate-edit">Valider</button>
			<button class="btn btn-mini btn-success dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu pull-right">
				<li><a href="#" class="cancel-edit"><i class="icon-remove"></i> Annuler</a></li>
			</ul>
		</div>
	</td>
<% } %>