<div class="subnav topnav">  	
	<ul class="nav nav-pills pull-left">
		<li class="all active">
			<a href="#">Tous</a>
		</li>
	</ul>
	
	<ul class="nav nav-pills pull-right">
		<li class="pull-left">
			<div id="searchbox"></div>
		</li>
		<li class="pull-left">
			<a href="" class='refresh'>Rafraichir <i class="icon-refresh" /></a>
		</li>
	</ul>
</div>

<table id="table" class="table table-bordered table-striped">
	<thead>
		<tr>
			<th><a href="#">id</a></th>
			<th><a href="#">Type</a></th>
			<th><a href="#">Contenu</a></th>
			<th><a href="#">Actions</a></th>
		</tr>
	</thead>
	<tbody>
		
	</tbody>
</table>

<div class="subnav bottomnav">  	
	<ul class="nav nav-pills pull-right">
		<li>
			<a href="#" class="add">Ajouter un tag</a>
		</li>
	</ul>
</div>

<div class="table-fixed-head" data-target="#table"></div>