<div class="subnav topnav">  	
	<ul class="nav nav-pills pull-left">
		<li class="all<% if(mode == 'all') print(' active') %>">
			<a href="#">Tous</a>
		</li>
		<li class="unvalid<% if(mode == 'unvalid') print(' active') %>">
			<a href="#">Acceptés</a>
		</li>
		<li class="valid<% if(mode == 'valid') print(' active') %>">
			<a href="#">Bannis</a>
		</li>
	</ul>
	
	<ul class="nav nav-pills pull-right">
		<li class="pull-left">
			<div id="searchbox"></div>
		</li>
		<li class="pull-left">
			<a href="" class='refresh'>Rafraichir <i class="icon-refresh" /></a>
		</li>
	</ul>
</div>

<div class="table-fixed-head" data-target="#table"></div>

<table id="table" class="table table-bordered table-striped">
	<thead>
		<tr>
			<th><a href="#">id</a></th>
			<th><a href="#">Nom</a></th>
			<th><a href="#">Prénom</a></th>
			<th><a href="#">Pseudo</a></th>
			<th><a href="#">Email</a></th>
			<th><a href="#">Rôle</a></th>
			<th><a href="#">Date&nbsp;d'ajout</a></th>
			<th><a href="#">Date&nbsp;de&nbsp;modif</a></th>
			<th><a href="#">Actions</a></th>
		</tr>
	</thead>
	<tbody>
		
	</tbody>
</table>

<div class="subnav bottomnav">  	
	<ul class="nav nav-pills pull-right">
		<li>
			<a href="#" class="add">Ajouter un utilisateur</a>
		</li>
	</ul>
</div>