<% if( !editing ) { %>
	<td><%= user.get('id') %></td>
	<td><%= user.get('firstName') %></td>
	<td><%= user.get('lastName') %></td>
	<td><%= user.get('pseudo') %></td>
	<td><%= user.get('email') %></td>
	<td><%= user.get('role') %></td>
	<td><%= !_( user.get('addDate') ).isUsable() ? '' : user.get('addDate').format( Config.dateFormat ) %></td>
	<td><%= !_( user.get('setDate') ).isUsable() ? '' : user.get('setDate').format( Config.dateFormat ) %></td>
	<td class="action">
		<div class="btn-group btn-group-action">
			<button class="btn btn-mini <%= !parseInt( user.get('_isBan') ) ? "btn-danger unvalidate" : "btn-success validate" %>"><%= !parseInt( user.get('_isBan') ) ? "Bannir" : "Accepter" %></button>
			<button class="btn btn-mini <%= !parseInt( user.get('_isBan') ) ? "btn-danger" : "btn-success" %> dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu pull-right">
				<li><a href="#" class="edit"><i class="icon-edit"></i> Editer</a></li>
				<li><a href="#" class="pass"><i class="icon-lock"></i> Changer de mot de passe</a></li>
				<li><a href="#" class="link"><i class="icon-random"></i> Liens</a></li>
				<li><a href="#" class="datas"><i class="icon-hdd"></i> Données associés</a></li>
				<li><a href="#" class="stats"><i class="icon-signal"></i> Statistiques</a></li>
				<li class="divider"></li>
				<li><a href="#" class="delete"><i class="icon-remove"></i> Supprimer</a></li>
			</ul>
		</div>
	</td>
<% } else { %>
	<td><%= user.get('id') %></td>
	<td><textarea name="firstName"><%= user.get('firstName') %></textarea></td>
	<td><textarea name="lastName"><%= user.get('lastName') %></textarea></td>
	<td><textarea name="pseudo"><%= user.get('pseudo') %></textarea></td>
	<td><textarea name="email"><%= user.get('email') %></textarea></td>
	<td>
		<select name="role">
			<% _( Config.chatanoo.users.role ).each( function(label, value) { %>
				<option value="<%= value %>" <% if( user.get('role') == value) print('selected="seelcted"') %>><%= label %></option>
			<% }) %>
		</select>
	</td>
	<td><%= !_( user.get('addDate') ).isUsable() ? '' : user.get('addDate').format( Config.dateFormat ) %></td>
	<td><%= !_( user.get('setDate') ).isUsable() ? '' : user.get('setDate').format( Config.dateFormat ) %></td>
	<td class="action">
		<div class="btn-group btn-group-action">
			<button class="btn btn-mini btn-success validate-edit">Valider</button>
			<button class="btn btn-mini btn-success dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu pull-right">
				<li><a href="#" class="cancel-edit"><i class="icon-remove"></i> Annuler</a></li>
			</ul>
		</div>
	</td>
<% } %>