<div class="table-control">
	<div class="left">
		<ul>
			<li><a href="" class="all<% if(mode == 'all') print(' selected') %>">Tous</a></li>
			<li><a href="" class="valid<% if(mode == 'valid') print(' selected') %>">Validés</a></li>
			<li><a href="" class="unvalid<% if(mode == 'unvalid') print(' selected') %>">Invalidés</a></li>
		</ul>
	</div>
	<div class="right">
		<ul>
			<li><a href="" class='refresh'>Rafraichir</a></li>
		</ul>
	</div>
</div>

<table class="scrollTable">
	<thead>
		<tr>
			<th data-size="30px"><a href="#">id</a></th>
			<th data-size="20%"><a href="#">Nom</a></th>
			<th data-size="20%"><a href="#">Prénom</a></th>
			<th data-size="20%"><a href="#">Pseudo</a></th>
			<th data-size="40%"><a href="#">Email</a></th>
			<th data-size="90px"><a href="#">Rôle</a></th>
			<th data-size="90px"><a href="#">Date d'ajout</a></th>
			<th data-size="100px"><a href="#">Date de modif</a></th>
			<th data-size="80px"><a href="#">Actions</a></th>
		</tr>
	</thead>
	<tbody>
		
	</tbody>
</table>